* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

 .container {
    min-height: calc(100vh);
    padding: 16px 32px;
 }

 .container nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
 }


 .todo-container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
